.wrapper_header_page3 {
    margin-top: 91px;
    width: 100vw;
    height: 476px;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../image/Sections_background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap_page3_bg {
    background-color: #E9EDEF;
}

.wrapper_header_page3Color {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.page3_text_block1 {
    color: #18CFAB;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 127px;
}

.page3_text_block2 {
    color: #D8D8D8;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-top: 22px;
    margin-bottom: 67px;
}

.new_mrg {
    margin-top: 0;
    padding-top: 95px;
}

.data-content_item1 {
    display: grid;
    width: 1140px;
    height: 620px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.load_more, .load_more1 {
    display: none;
}

.btn_loadMore {
    font-family: 'Monserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    margin: 70px auto 99px;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    cursor: pointer;
    border-radius: 5px;
}

.name_btn_loadMore {
    margin-left: 15px;
}

.footer-ham {
    background-color: #22353f;
}

.footer-text {
    padding: 47px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.footer-text-link {
    color: #18cfab;
    text-decoration: none;
}
