* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100vw;
    height: 1012px;
    background-attachment: fixed;
    background-image: url("../image/Sections_background/section-1(header).jpg");
    background-repeat: no-repeat;
    font-family: 'Monserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}

.logo {
    height: 100%;
}

.menu {
    height: 100%;
}

.logo {
    display: flex;
    margin-top: 26px;
}

.logo_world {
    font-size: 32px;
    line-height: 48px;
    margin-top: 12px;
    margin-left: 6px;
}

.logo_the {
    color: white;
    font-weight: 400;
}

.logo_ham {
    color: #18CFAB;
    font-weight: 700;
}

.menu_link {
    display: flex;
    margin-left: 305px;
    align-items: center;
    gap: 21px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.menu_link a {
    color: rgba(255, 255, 255, 0.6);
}

.menu_link a:hover {
    color: #18CFAB;
    cursor: pointer;
    border-bottom: 2px solid #18cfab;
    padding-bottom: 49px;
}


.navbar-icon {
    color: #ffffff90;
    font-size: 22px;
}

.navbar-icon:hover {
    color: #18cfab;
}

.wrapper_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page1_text_block1 {
    height: 35px;
    margin-top: 264px;
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
}

.world1_page1 {
    color: white;
}

.world2_page1 {
    color: #18CFAB;
}

.page1_text_block2 {
    height: 80px;
    color: white;
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    margin-top: 22px;
}

.page1_text_block3 {
    height: 34px;
    color: #D4D4D4;
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
}

.wrapper_btn {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 134px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.btn_explore {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #18CFAB;
    width: 169px;
    height: 63px;
    margin-right: 26px;
    border-radius: 5px;
    box-shadow: 0 -5px white;
    cursor: pointer;
}

.btn_purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00CBF6;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    box-shadow: 0 -5px white;
    cursor: pointer;
}

