.header_page2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 377px;
    justify-content: space-around;
    margin-top: 5px;
}

.square1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C2A33;
    width: 25%;
    height: 375px;
}

.square2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #18CFAB;
    width: 25%;
    height: 375px;
}

.square3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C2A33;
    width: 25%;
    height: 375px;
}

.square4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #18CFAB;
    width: 25%;
    height: 375px;
}

.square1_text, .square3_text {
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #18CFAB;
    margin-top: 47px;
    margin-bottom: 10px;
}

.square2_text, .square4_text {
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
    margin-top: 58px;
}

.wrapper_title_page2 {
    margin-top: 83px;
    width: 100%;
    color: #4E4E4E;
    text-align: center;
}