.grid_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid_page3 {
    display: flex;
    justify-content: end;
    width: 263px;
    height: 208px;
}

.grid_page3_item1 {
    background-image: url("../image/layer/layer47.png");
}

.grid_page3_item2 {
    background-image: url("../image/layer/layer50.png");
}

.grid_page3_item3 {
    background-image: url("../image/layer/layer51.png");
}

.grid_page3_item4 {
    background-image: url("../image/layer/layer52.png");
}

.grid_page3_item5 {
    background-image: url("../image/layer/layer53.png");
}

.grid_page3_item6 {
    background-image: url("../image/layer/layer54.png");
}

.grid_page3_item7 {
    background-image: url("../image/layer/layer55.png");
}

.grid_page3_item8 {
    background-image: url("../image/layer/layer56.png");
}

.date {
    width: 70px;
    height: 68px;
    background-color: #203E38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: white;
}

.textUndoGrid {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    margin-right: 42px;
    color: #717171;
    text-align: center;
}

.textUndoGrid2 {
    margin-right: 42px;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    color: #777777;
}

.wrapper_page3 {
    width: 1140px;
    margin: auto;
}

.grid_page_breaking {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 44px;
    grid-column-gap: 35px;
}

.grid_item:hover .date {
    background-color: #18CFAB;

}

.grid_item:hover .textUndoGrid {
    color: #18CFAB;
}