
.page4_title {
    padding-top: 98px;
    color: white;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.page4_line1 {
    margin: 26px 0 0 39vw;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
}

.page4_line2 {
    margin: 2px 0 0 40vw;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
}

.quotes {
    color: #18CFAB;
    font-weight: 800;
    font-size: 33px;
    margin-top: 66px;
}

.reviews {
    margin-top: 129px;
    height: 853px;
    color: #BBBBBB;
    background-image: url("../image/Sections_background/section-3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper_page4 {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
}

.inverted-quotes {
    width: 45px;
}

.slider-comment {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-wrapper {
    position: relative;
    height: 425px;
    width: 100%;
}

.slider-user-review {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.slider-user-review.active {
    opacity: 1;
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.slider-user-data-name {
    padding-bottom: 15px;
    font-size: 20px;;
    color: #18cfab;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-user-data-profession {
    padding-bottom: 35px;
}

.slider-user-foto-big {
    display: inline-block;
    margin-bottom: 70px;
    height: 145px;
    width: 145px;
    box-sizing: border-box;
    border: 2px solid #18cfab20;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #18cfab20;

    overflow: hidden;
}

.slider-area {
    display: flex;
    margin: 0 auto;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    user-select: none
}

.arrow-left {
    width: 30px;
    height: 30px;
    top: 16px;
    box-sizing: border-box;
    border: 1px solid #969a9c;
    color: #969a9c;
    font-size: 18px;
    line-height: 30px;
}

.arrow-right {
    width: 30px;
    height: 30px;
    top: 16px;
    box-sizing: border-box;
    border: 1px solid #969a9c;
    color: #969a9c;
    font-size: 18px;
    line-height: 30px;
}

.arrow-left:hover, .arrow-right:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.slider-wrapper {
    display: flex;
    width: 370px;
    justify-content: space-between;
}

.slider-user-foto-small {
    position: relative;
    height: 59px;
    width: 59px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #18cfab20;
    overflow: hidden;
}

.slider-user-foto-small.active {
    /*border: 3px solid #18cfab20;*/
    transform: translate3d(0px, -20px, 0px);
    transition: transform .5s ease-in-out;
    cursor: pointer;
}
