
.container {
    margin: 0 auto;
    width: 1160px;
    text-align: center;
}

.portfolio {
    padding: 100px 0;
    background-color: #f8fcfe;
    border-bottom: #e1e1e1;
}

.portfolio-title {
    padding: 0 0 25px 0;
    font-size: 36px;
    text-transform: capitalize;
}

.portfolio-title-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px auto;
    width: 610px;
    cursor: pointer;
}

.portfolio-title-item {
    position: relative;
    padding: 22px 0;
    border: 1px solid #ebebeb;
}

.portfolio-title-item.active {
    color: #18cfab;
}

.portfolio-title-item.active:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -3px;
    left: 0;
    border-top: 2px solid #18cfab;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 70px;
}

.portfolio-gallery-card {
    position: relative;
    box-sizing: border-box;
    height: 205px;
}


.portfolio-gallery-img {
    width: 290px;
    height: 205px;
    object-fit: cover;
}

.img-card-icon-wrap {
    opacity: 0;
    width: 0;
    height: 0;
}

.portfolio-gallery-card:hover .img-card-icon-wrap {
    background-color: #E9EDEF;
    padding-top: 40px;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-top: 2px solid #18cfab;

    text-align: center;
    transition: opacity 0.6s;
}

.img-card-icon {
    margin-right: 3px;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
    background-color: #E9EDEF;
}

.tab_page3 {
    display: flex;
    align-items: center;
    width: 582px;
    height: 58px;
}

.tabs-title_page3:nth-child(1) {
    width: 65px;
}

.tabs-title_page3:nth-child(2) {
    width: 140px;
}

.tabs-title_page3:nth-child(3) {
    width: 115px;
}

.tabs-title_page3:nth-child(4) {
    width: 135px;
}

.tabs-title_page3:nth-child(5) {
    width: 105px;
}

.centered-content_page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_page3 {
    margin-top: 71px;
}

.tabs-title_page3 {
    background-color: #E9EDEF;
    display: flex;
    color: #717171;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 39px;
    height: 56px;
    border: 1px solid #DADADA;
    justify-content: center;
    align-items: center;
}

.tabs-title_page3.active{
    border: 2px solid #18cfab;
    color: #18cfab;
}

.img-card-icon:hover {
    color: #ffffff;
    background-color: #18cfab;
}

.img-card-title {
    padding-top: 30px;
    color: #18cfab;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.img-card-category {
    padding-top: 5px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 300;
    color: #8A8A8A;
    text-transform: capitalize;
}

.portfolio-gallery-card.hidden {
    display: none;
}
