
.page2_title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.page2_line1 {
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    margin: 26px 0 0 47vw;
}

.page2_line2 {
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    margin: 2px 0 69px 48vw;
}

.centered-content {
    margin: auto;
    width: 1152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tabs {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tabs-title {
    display: flex;
    background-color: #F8FCFE;
    color: #717171;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #EDEFEF;
    font-size: 16px;
    line-height: 39px;
    height: 72px;
    width: 16.66%;
    justify-content: center;
    align-items: center;
}

.tabs-title.active {
    background-color: #18CFAB;
    color: white;
    position: relative;
}

.tabs-title.active:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    bottom: -20px;
    left: 86px;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;;
}

.data-content {
    display: none;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
}

.data-content.active {
    display: block;
}

.tabs-content {
    margin-top: 28px;
}

.text_tabs {
    margin-left: 15px;
}

.data-content_item {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    display: flex;
}