.image-to-show {
    display: flex;
    width: 500px;
    height: 500px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.show{
    display: none;
}