.header {
  width: 100vw;
}

.nav-bar {
  padding-top: 83px;
  @media (min-width: 768px) {
    padding-top: 24px;
  }

  &__menu {
    width: 0;
    height: 0;
    font-size: 11px;
    line-height: 22px;

    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 8px;
    position: absolute;
    right: 0;
    top: 60px;


    @media (min-width: 768px) {
      padding: 0;
      font-size: 12px;
      line-height: 22px;
      width: 100%;
      height: 55px;
      flex-direction: row;
      gap: 34px;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      position: static;
      margin-bottom: 23px;
    }

    @media (min-width: 1170px) {
      gap: 68px;
      line-height: 22px;
      margin-bottom: 31px;
    }
  }

  &__item {
    color: $title-color;
    padding-top: 4px;
    padding-left: 12px;
    padding-bottom: 4px;


      &:hover {
        background-color: #E5E5E5;
        color: #57A4A4;
        @media (min-width: 768px) {
          background-color: transparent;

      }
    }
  }
}

.burger-menu {
  position: absolute;
  top: 23px;
  right: 0;

  &__svg {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    display: none;
  }

}

.svg-disabled {
  display: none;
}

.show_menu {
  width: 182px;
  height: 208px;
}

.header__image {
  min-width: 320px;
  height: 150px;
  background-image: url(../image/intro-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    min-width: 768px;
    height: 361px;
  }

  @media (min-width: 1170px) {
    min-width: 1170px;
    height: 550px;
  }
}

