.main {

  &__heading{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #4E4E4E;
    margin-top: 38px;
    margin-bottom: 23px;

    @media (min-width: 768px) {
      font-size: 16px;
      margin-top: 56px;
      margin-bottom: 24px;
    }

    @media (min-width: 1170px) {
      margin-top: 66px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 385px);
    gap: 26px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, 555px);
      gap: 30px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    @media (min-width: 1170px) {
      flex-direction: row;
  }
      &--disabled{
        display: none;
        @media (min-width: 768px) {
          display:flex;
        }
      }
    &__picture {
      width: 160px;
      height: 140px;
    }

    &__description {
      margin-top: 11px;
      color: $title-color;
      @media (min-width: 1170px) {
        margin-top: 0;
        margin-left: 20px;
      }
    }

    &__subtitle {
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      @media (min-width: 768px) {
        font-size: 16px;
      }

    }

    &__comments {
      font-size: 11px;
      line-height: 20px;
      color: $comment-color;
      @media (min-width: 768px) {
        font-size: 12px;
      }
    }

    &__text {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      line-height: 26px;
      color: $text-color;
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
    }
  }


.instagram {

  @media (min-width: 768px) {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    margin: 43px 0 13px;
    padding-top: 38px;

    @media (min-width: 768px) {
      margin: 60px 0 35px;
      padding-top: 43px;
    }

    @media (min-width: 1170px) {
      margin: 69px 0 24px;
      padding-top: 47px;
    }
  }

  &__link {
    font-size: 13px;
    display: none;
    @media (min-width: 768px) {
      display: inline-block;
    }
  }

  &__image {
    margin-left: 15px;
    margin-bottom: 42px;
    height: 301px;
    display: grid;
    justify-content: center;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, 301px);
    overflow-y: hidden;

    @media (min-width: 768px) {
      margin-left: 5px;
      margin-bottom: 50px;
      height: 249px;
      column-gap: 8px;
      grid-template-columns: repeat(auto-fit, 250px);
    }

    @media (min-width: 1170px) {
      column-gap: 10px;
      max-width: 1170px;
      margin: 42px auto;
      grid-template-columns: repeat(auto-fit, 285px);
      height: 285px;
    }
  }

  &__title{
    line-height: 22px;
    font-weight: 700;
    font-size: 16px;
  }

  &__img {
    width: 301px;
    height: 301px;

    @media (min-width: 768px) {
      width: 249px;
      height: 250px;
    }

    @media (min-width: 1170px) {
      width: 285px;
      height: 285px;
    }
  }
}