* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header {
  width: 100vw;
}

.nav-bar {
  padding-top: 83px;
}
@media (min-width: 768px) {
  .nav-bar {
    padding-top: 24px;
  }
}
.nav-bar__menu {
  width: 0;
  height: 0;
  font-size: 11px;
  line-height: 22px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 8px;
  position: absolute;
  right: 0;
  top: 60px;
}
@media (min-width: 768px) {
  .nav-bar__menu {
    padding: 0;
    font-size: 12px;
    line-height: 22px;
    width: 100%;
    height: 55px;
    flex-direction: row;
    gap: 34px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: static;
    margin-bottom: 23px;
  }
}
@media (min-width: 1170px) {
  .nav-bar__menu {
    gap: 68px;
    line-height: 22px;
    margin-bottom: 31px;
  }
}
.nav-bar__item {
  color: #4E4E4E;
  padding-top: 4px;
  padding-left: 12px;
  padding-bottom: 4px;
}
.nav-bar__item:hover {
  background-color: #E5E5E5;
  color: #57A4A4;
}
@media (min-width: 768px) {
  .nav-bar__item:hover {
    background-color: transparent;
  }
}

.burger-menu {
  position: absolute;
  top: 23px;
  right: 0;
}
.burger-menu__svg {
  cursor: pointer;
}
@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.svg-disabled {
  display: none;
}

.show_menu {
  width: 182px;
  height: 208px;
}

.header__image {
  min-width: 320px;
  height: 150px;
  background-image: url(../image/intro-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .header__image {
    min-width: 768px;
    height: 361px;
  }
}
@media (min-width: 1170px) {
  .header__image {
    min-width: 1170px;
    height: 550px;
  }
}

.main__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: #4E4E4E;
  margin-top: 38px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .main__heading {
    font-size: 16px;
    margin-top: 56px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1170px) {
  .main__heading {
    margin-top: 66px;
  }
}
.main__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 385px);
  gap: 26px;
}
@media (min-width: 768px) {
  .main__grid {
    grid-template-columns: repeat(auto-fit, 555px);
    gap: 30px;
  }
}
.main__block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1170px) {
  .main__block {
    flex-direction: row;
  }
}
.main__block--disabled {
  display: none;
}
@media (min-width: 768px) {
  .main__block--disabled {
    display: flex;
  }
}
.main__block__picture {
  width: 160px;
  height: 140px;
}
.main__block__description {
  margin-top: 11px;
  color: #4E4E4E;
}
@media (min-width: 1170px) {
  .main__block__description {
    margin-top: 0;
    margin-left: 20px;
  }
}
.main__block__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}
@media (min-width: 768px) {
  .main__block__subtitle {
    font-size: 16px;
  }
}
.main__block__comments {
  font-size: 11px;
  line-height: 20px;
  color: #7C7C7C;
}
@media (min-width: 768px) {
  .main__block__comments {
    font-size: 12px;
  }
}
.main__block__text {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #5C5C5C;
  display: none;
}
@media (min-width: 768px) {
  .main__block__text {
    display: block;
  }
}

@media (min-width: 768px) {
  .instagram {
    background-color: rgba(0, 0, 0, 0.03);
  }
}
.instagram__heading {
  display: flex;
  justify-content: space-between;
  margin: 43px 0 13px;
  padding-top: 38px;
}
@media (min-width: 768px) {
  .instagram__heading {
    margin: 60px 0 35px;
    padding-top: 43px;
  }
}
@media (min-width: 1170px) {
  .instagram__heading {
    margin: 69px 0 24px;
    padding-top: 47px;
  }
}
.instagram__link {
  font-size: 13px;
  display: none;
}
@media (min-width: 768px) {
  .instagram__link {
    display: inline-block;
  }
}
.instagram__image {
  margin-left: 15px;
  margin-bottom: 42px;
  height: 301px;
  display: grid;
  justify-content: center;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fit, 301px);
  overflow-y: hidden;
}
@media (min-width: 768px) {
  .instagram__image {
    margin-left: 5px;
    margin-bottom: 50px;
    height: 249px;
    column-gap: 8px;
    grid-template-columns: repeat(auto-fit, 250px);
  }
}
@media (min-width: 1170px) {
  .instagram__image {
    column-gap: 10px;
    max-width: 1170px;
    margin: 42px auto;
    grid-template-columns: repeat(auto-fit, 285px);
    height: 285px;
  }
}
.instagram__title {
  line-height: 22px;
  font-weight: 700;
  font-size: 16px;
}
.instagram__img {
  width: 301px;
  height: 301px;
}
@media (min-width: 768px) {
  .instagram__img {
    width: 249px;
    height: 250px;
  }
}
@media (min-width: 1170px) {
  .instagram__img {
    width: 285px;
    height: 285px;
  }
}

.footer {
  height: 315px;
  background-color: black;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer {
    height: 322px;
  }
}
@media (min-width: 1200px) {
  .footer {
    height: 355px;
  }
}
.footer__heading {
  text-align: center;
  margin-top: 38px;
  max-width: 303px;
}
@media (min-width: 768px) {
  .footer__heading {
    margin-top: 57px;
    max-width: 684px;
  }
}
@media (min-width: 1200px) {
  .footer__heading {
    margin-top: 66px;
  }
}
.footer__title {
  color: #FEFEFE;
}
.footer__text {
  font-size: 12px;
  line-height: 20px;
  color: #B9B9B9;
  margin-top: 8px;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 16px;
    line-height: 28px;
  }
}
.footer__text {
  margin-top: 8px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 16px;
    margin-top: 22px;
    line-height: 28px;
  }
}
.footer__text__gone {
  display: none;
}
@media (min-width: 768px) {
  .footer__text__gone {
    display: inline;
  }
}
.footer__socMedia {
  margin-top: 37px;
}
.footer__socMedia__image {
  width: 34px;
  height: 34px;
}
.footer__contact {
  max-width: 210px;
  font-size: 14px;
  line-height: 24px;
  color: #B9B9B9;
  margin: 25px auto 0;
}
@media (min-width: 768px) {
  .footer__contact {
    font-size: 16px;
    line-height: 26px;
    max-width: 684px;
  }
}

/*# sourceMappingURL=style.css.map */
